page-all-posts {
    .background{
        // background-image :url('../../assets/imgs/beach.jpg');
        background-color: rgb(231, 218, 37);
    }

    .header{
        background-color: rgb(228, 71, 23);
    }
    
    .content{
        background-color: rgb(100, 82, 219);
    }

}
