page-myposts {
    .background{
        // background-image :url('../../assets/imgs/beach.jpg');
        background-color: rgb(219, 206, 23);
    }

    .header{
        background-color: rgb(228, 71, 23);
    }

    .content{
        background-color: rgb(100, 82, 219);
    }

}
